@font-face {
    font-family: "myfont";
    src: url(Poppins-Medium.ttf);
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "myfont", monospace;
    list-style: none;
    transition: 0.3s;
    font-weight: 100;
    text-align-last: center;
    text-decoration: none;
    text-align: justify;
}
button{
    cursor: pointer !important;
}
::selection{
    color: black;
    background-color: var(--main);
}
::-webkit-scrollbar{
    display: none;
}
p{
    font-size: 1rem;
}
:root{
    --bg: #252525;
    --bg3:#ffffff0d;
    --bg2: #181818;
    --main: #ebd2be;
    --sec: #f0b572;
    --sh: 2px 5px 15px #0000003c;
    --h: 420px;
    --dtext: rgb(33, 33, 33);
    --text: #cfc6bd;
    --muted: #a49a8f;
}
body{

    flex-wrap: wrap;
    width: 100%;
    display: flex
;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    background-color: var(--bg);
}
main{
    display: flex
;
    height: var(--h);
    gap: 4rem;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    margin: 3rem 0;
}
.card{
    width: 15%;
    box-shadow: 2px 2px var(--main), var(--sh);
    height: 95%;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
}
.card:nth-child(odd){
    align-self: end;
}
main .card:hover{
    width: calc(0.95*var(--h)*2/3);
}
.socials{
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.7s;
    display: flex
;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    padding: 2rem 3rem;
    justify-content: center;
    align-items: center;
    background-color: #0000006e;
}
.card:hover .socials{

   opacity: 1;
}
.card p{
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    bottom: -50px;
    background-color: var(--main);
    text-wrap: nowrap;
}
.card .title{
    padding: 0.1rem 1.25rem;
    font-size: 0.6rem;
    width: fit-content;
    background-color: transparent;
    border: 1px solid var(--main);
    color: var(--main);
}


.socials nav{
        display: flex
;
    justify-content: space-between;

    position: relative;
    overflow: hidden;
    width: 100%;
}
.socials nav a{
    border: 1px solid var(--main);
    color: var(--main);
    width: 30px;
    font-size: 0.8rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
}
.active .socials a{
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
.socials a:hover{
    background-color: var(--main);
    color: var(--dtext);
}
.socials a:nth-child(2){
    animation-delay: 0.2s;
}

.socials a:nth-child(3){
    animation-delay: 0.3s;
}

.socials a:nth-child(4){
    animation-delay: 0.4s;
}
.cards h2 span{
    color: transparent !important;
    padding: 0;
    font-weight: 800;
    -webkit-text-stroke: 0.2px var(--main);

}
.home .Sp::first-letter{
    font-size: larger;
    color: var(--main);
      text-shadow:
 
    0 0 10px var(--main),
    0 0 20px var(--main),
    0 0 40px #d9bda3,
    0 0 80px #cfae8f,
    0 0 90px #bfa17e,
    0 0 100px #b19271;

}
@keyframes fade {
    from{
        scale:0;
    }
    to{
        scale:1;
    }
}
.cards{
    padding: 1rem  6rem;
    width: 100%;

}
.cards h2{
    font-size: 2.5rem;
    color: var(--main);
}
.card.active{
    flex-shrink: 0;

}
.features{
        display: grid
;
grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    gap: 2rem;
    margin: 2rem 0;
}

.feature{
    position: relative;
        color: var(--main);
    border: 2px solid var(--main);
    padding: 1rem;
    display: flex
;
    flex-direction: column;
    gap: 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px var(--main);
}
.feature p{
    font-size: 1.3rem;
}
.feature span{
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    left: 0;
    padding: 0.4rem 0.7rem 0.4rem 0.4rem;
    background-color: var(--main);
    color: var(--dtext);
    border-bottom-right-radius: 17px;
    font-weight: 800;
}
.feature h3{
    letter-spacing: 0.1rem;
    padding-left: 0.1rem;
    text-transform: uppercase;

}
.feature i{
    font-size: 2rem;
}

/* <------- home -------> */
.home{
    height: 100dvh;
    position: relative;
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 2rem 4rem 4rem 6rem;
    box-shadow: 0px -10px 8px 4px var(--bg) inset;
}
 .bg, .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
section .bg{
    background-image: url(../media/background.jpg);
    background-size: cover;
    opacity: 0.15;
    background-position: center;
}
section .bg2{
    background-color: var(--bg);
    opacity: 0.4;
}
.home .logo{

    color: var(--main);
    display: flex
;
    flex-direction: column;
    justify-content: start;
    position: relative;

}
.home .logo:before{
    content: "";
    height: 100%;
    width: 4px;
    background-color: var(--main);
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.home .logo p{
    display: flex
;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    gap: 0.2rem;
    padding-left: 1rem;
    line-height: 1.78rem;
}
.home .logo span{

    text-transform: uppercase;
    font-weight: 800;
}
.home .intro{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.home .intro h2{
    font-size: 3.5rem;
    color: var(--main);
    line-height: 3.2rem;
}
.home .intro h4{
    text-align: justify;
    color: var(--sec);
    width: 50%;
    text-align-last: start;
}
.home .intro h4 span{
    color: var(--main);
}
.home .intro button{
    padding: 0.8rem 3rem;
    background-color: var(--main);
    color: var(--dtext);
    border-radius: 6px;
    font-weight: 800;
}


/* FOOTER */
.footer {
    background: var(--bg2);
    width: 100%;
    padding: 3rem 2rem 0.8rem 2rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footerinner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.columns{
        display: grid;
    grid-template-columns: 1.6fr 1.5px 1fr;
    gap: 2rem;
}
.columns .col{
        display: flex;
        gap: 1.6rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.columns .brand {
    justify-content: center;
    gap: 3rem;
}
.logo {
  font-size: 2.3rem;
  font-weight: 800;
  color: var(--main);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.mission{
    font-size: 1.5rem;
}

.mission {
  margin-bottom: 12px;
  line-height: 1.5;
}

.tagline {
  font-style: italic;
  font-size: 14px;
  color: var(--muted);
}

.title {
  color: var(--main);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list a {
  color: var(--muted);
  text-decoration: none;
  font-size: 14px;
}

.list a:hover {
  color: var(--main);
}

.newsletter p {
    font-size: 0.9rem;
    background-color: var(--bg3);
    padding: 0.6rem;
    border-radius: 6px;
}

.newsletter {
    gap: 0.6rem;
    flex: 1;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;

}

.newsletter input {
  flex: 1;
  padding: 10px;
  background: var(--bg3);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 6px;
  color: var(--text);
  text-align: center;
}

.newsletter button {
  padding: 0.9rem 1rem;
  background: var(--main);
  color: #0f0f0f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
.columns hr{
    background-color: #ffffff12;
}



.footerbottom {
    max-width: 1200px;
    border-top: 1.5px solid #ffffff12;
    display: flex;
    justify-content: space-between;
    font-size: 0.67rem;
    color: var(--muted);
    padding-top: 0.6rem;
}

.footerbottom a {
  color: var(--muted);
  text-decoration: none;
  margin: 0 8px;
}

.footerbottom a:hover {
  color: var(--main);

}

@media (max-width: 900px) {
  .footerinner {
    grid-template-columns: 1fr;
  }
  .newsletter {
    flex-direction: column;
  }
  .newsletter button {
    width: 100%;
  }

}
@media (max-width:850px) {
    html{
        font-size: 13px;
    }
    .home{
                    padding: 2rem 2rem 4rem 2rem;
    }

    .home .intro h4{
        width: auto;
        max-width: 75%;
    }
    .home .intro{
        gap: 1.7rem;
    }
    .features{
            grid-template-columns: 1fr;
    }
    .cards{
        padding: 1rem 2rem;
    }
    .cards main{
        justify-content: center;
    }
    .cards .card{
        width: 25%;
    }
    .cards main{
        gap: 2rem;
    }

}
@media (max-width:650px){
    .columns {
        grid-template-columns: 100% !important;
        grid-template-rows: auto 1.5px auto;
    }
    .newsletter{
        width: 100% !important;
    }
}
@media (max-width:530px){
    .home{
        padding: 2rem;
    }
    .home .intro h4{

        max-width: 95%;
    }
    .cards h2{
        font-size: 1.8rem;
    }
    .cards{
        padding: 1rem 2rem;
    }
        .footerbottom{
        flex-direction: column;
        gap: 0.6rem;
        align-items: center;
    }

}
@media (max-width:420px){
    html{
        font-size: 12.5px;
    }
    .home{
        align-items: center;
    }
    .home .logo:after{
    content: "";
    height: 100%;
    width: 4px;
    background-color: var(--main);
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
    .cards .socials{
        padding: 2rem;
    }
    .home .logo p{
        font-size: 2rem;
        padding-right: 1rem;
        line-height: 2rem;
    }
    .home .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    }
    .home .intro h2{
        font-size: 2.55rem;
    }
    .cards main{
        gap: 0.8rem;
    }
    main .card:hover{
        width: calc(0.80*var(--h)*2/3);
    }
    .logo{
        font-size: 1.6rem;
    }
    .mission{
        font-size: 1.3rem;
    }
}
